.menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2rem;
  margin: 1.2rem 0;
  text-transform: uppercase;
  font-size: 1.05rem;

  .active {
    font-weight: bold;
  }

  a,
  .button {
    display: block;
    position: relative;
    padding: 10px 5px 5px;
    text-decoration: none;
    color: var(--color1);
    min-width: 120px;
    text-align: center;
    cursor: pointer;
    border-radius: 13px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--color2);
      color: var(--color0);
      font-weight: bold;
      transition: all 0.2s ease-in-out;
    }
  }

  > div {
    position: relative;

    &:hover {
      .button {
        border-radius: 13px 13px 0 0;
        font-weight: bold;
        color: var(--color0);
        background-color: var(--color2);
      }

      .submenu {
        visibility: visible;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }
    }

    .button {
      border-radius: 13px 13px 0 0;
    }

    .submenu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      margin: 0;
      padding-left: 0;
      border-radius: 0 0 13px 13px;
      background-color: var(--color2);
      transition: all 0.2s ease-in-out;

      a {
        color: var(--color0);

        &:hover {
          background-color: #6ca4a7 !important;
        }
      }
    }
  }
}
